.hero {
  background: url("./images/bgheader.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  text-align: center;
  color: white;
  padding-top: 100px;
}


footer {
  background: #000;
  text-align: center;
  padding: 50px 0;
  width: 100%;
}

.social {
  display: block;
}

.social a {
  font-size: 18px;
  margin: 0 8px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}